Flow 2.json
[{"id":"666caf82.ffd92","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"6997fe37.de6bc","type":"inject","z":"666caf82.ffd92","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["c02d56b4.4883a8"]]},{"id":"c02d56b4.4883a8","type":"function","z":"666caf82.ffd92","name":"Payload","func":"msg.headers={\n    deviceKey: \"0kAAS32r0fDVc8hZ\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["7ca73f22.dd8ee"]]},{"id":"7ca73f22.dd8ee","type":"http request","z":"666caf82.ffd92","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Dwo0Ju0N/datachannels/wayne/datapoints.csv","tls":"","proxy":"","authType":"","x":500,"y":260,"wires":[["7d6e1f7.394dee","63cfdc46.64f3e4"]]},{"id":"7d6e1f7.394dee","type":"http response","z":"666caf82.ffd92","name":"","statusCode":"","headers":{},"x":650,"y":260,"wires":[]},{"id":"63cfdc46.64f3e4","type":"debug","z":"666caf82.ffd92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":380,"wires":[]}]