flows 3.json
[{"id":"c73dacc4.5ed13","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"deae2b33.4843a8","type":"inject","z":"c73dacc4.5ed13","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["a79d8a60.1c3348"]]},{"id":"a79d8a60.1c3348","type":"function","z":"c73dacc4.5ed13","name":"Payload","func":"msg.hearders={\n    devicekey: \"0kAAS32r0fDVc8hZ\"\n    };\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["f2564f33.373c3"]]},{"id":"f2564f33.373c3","type":"http request","z":"c73dacc4.5ed13","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dwo0Ju0N/datapoints.csv","tls":"","proxy":"","authType":"","x":480,"y":220,"wires":[["52e37937.b0eb78","9545dfc5.aa587"]]},{"id":"52e37937.b0eb78","type":"http response","z":"c73dacc4.5ed13","name":"","statusCode":"","headers":{},"x":620,"y":300,"wires":[]},{"id":"9545dfc5.aa587","type":"debug","z":"c73dacc4.5ed13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":400,"wires":[]}]